/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.f_block_image_phone {
    background-image: url('images/phone_1page.png');
    background-size: cover; /* Covers the entire area of the block */
    background-position: center; /* Center the image within the block */
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background-color: #F4F7F8;
    font-style: normal;
}
.carousel, .carousel_2 {
    position: relative;
    overflow: hidden;
    width: 100%; /* ширина всего вьюпорта */
    height: 100%; /* высота всего вьюпорта */
     /* максимальная высота также ограничена размером вьюпорта */
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    
    /* Удалить любые другие стили, которые могут мешать ширине и высоте */
}

.slides, .slides_2 {
    display: flex;
    transition: transform 0.5s ease;
}
  
.slide, .slide_2 {
position: relative;
min-width: 100%; /* Гарантирует, что каждый слайд занимает всю ширину карусели */
box-sizing: border-box;
}

.slide::after {
content: '';
position: absolute;
left: 0;
right: 0;
top: 0; /* Начало градиента теперь с верхней границы */
bottom: 0; /* Охватывает весь слайд */
background: linear-gradient(to bottom, transparent, rgba(1, 130, 190, 0) 0%, rgba(1, 101, 147, 0.2) 40%, rgba(0, 71, 102, 0.8) 65%);
z-index: 2; /* Гарантирует, что градиент находится под текстом и над изображением */
}

.bg-grad {
    background: linear-gradient(to bottom, transparent, rgba(1, 130, 190, 0) 0%, rgba(1, 101, 147, 0.2) 40%, rgba(0, 71, 102, 0.8) 65%);
}

.slide img, .slide_2 img {
display: block;
width: 100%;
height: auto; /* Поддерживает пропорции изображения */
position: relative;
z-index: 1; /* Убедитесь, что изображение под градиентом */
}

.absolute_custom {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.875rem; /* text-3xl в Tailwind CSS */
    z-index: 3; /* Текст над градиентом */
}

.slide, .slide_2 {
    min-width: 100%;
    transition: transform 0.5s ease;
    box-sizing: border-box;
}


.slide img, .slide_2 img {
    width: 100%;
    display: block;
}

.prev, .next {
    position: absolute;

    transform: translateY(-50%);
    color: white;
    border: none;
    cursor: pointer;
}
.prev_2, .next_2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2; /* Поверх слайдов, но ниже текста или других элементов, если таковые есть */
}

.prev_2 {
    left: 10px; /* Или другое значение, чтобы стрелка была внутри видимой области */
}

.next_2 {
    right: 10px; /* Или другое значение, чтобы стрелка была внутри видимой области */
}
.slides_2 {
    display: flex;
    transition: transform 0.5s ease; /* Плавное перелистывание */
}

.slide_2 {
    flex: 0 0 100%; /* Каждый слайд занимает 100% ширины видимой части */
    max-width: 100%; /* Ограничение ширины каждого слайда */
}


@media (max-width: 768px) {
    .absolute {
        font-size: 1.875rem; /* Larger font size for larger screens */
        padding: 1rem; /* Larger padding for larger screens */
        width: 3/4; /* Specific width for larger screens */
    }
    .slide {
        height: 400px;
    }
    .prev, .next, .prev_2, .next_2 {
        width: 50px; /* Larger buttons for larger screens */
        height: 50px; /* Larger buttons for larger screens */
    }
}