
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'RG-StandardBold';
    src: url('RG-StandardBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  

@font-face {
    font-family: 'RG-StandardSemibold'; 
    src: url('RG-StandardSemibold.ttf') format('truetype');  
    font-weight: 600;  
    font-style: normal;
}
h2, h3{
    font-family: 'RG-StandardSemibold', sans-serif;
    line-height: 100%;
}
h1{
    font-family: 'RG-StandardBold', sans-serif;
    line-height: 110%;
}

.select-css {
    -webkit-appearance: none;  /* Для Chrome, Safari, и новых версий Opera */
    -moz-appearance: none;     /* Для Firefox */
    appearance: none;
}



.f_block_image_phone {
    background-image: url('images/phone_1page.png');
    background-size: cover; /* Covers the entire area of the block */
    background-position: center; /* Center the image within the block */
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    background-color: #F4F7F8;
    font-style: normal;
}
.carousel, .carousel_2 {
    position: relative;
    overflow: hidden;
    width: 100%; /* ширина всего вьюпорта */
    height: 100%; /* высота всего вьюпорта */
     /* максимальная высота также ограничена размером вьюпорта */
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    
    /* Удалить любые другие стили, которые могут мешать ширине и высоте */
}

.slides, .slides_2 {
    display: flex;
    transition: transform 0.5s ease;
}
  
.slide, .slide_2 {
position: relative;
min-width: 100%; /* Гарантирует, что каждый слайд занимает всю ширину карусели */
box-sizing: border-box;
}

.slide::after {
content: '';
position: absolute;
left: 0;
right: 0;
top: 0; /* Начало градиента теперь с верхней границы */
bottom: 0; /* Охватывает весь слайд */
background: linear-gradient(to bottom, transparent, rgba(1, 130, 190, 0) 0%, rgba(1, 101, 147, 0.2) 40%, rgba(0, 71, 102, 0.8) 65%);
z-index: 2; /* Гарантирует, что градиент находится под текстом и над изображением */
}


.bg-grad {
    background: linear-gradient(to bottom, transparent, rgba(1, 130, 190, 0) 0%, rgba(1, 101, 147, 0.2) 40%, rgba(0, 71, 102, 0.8) 65%);
}
.text-smm, .l-140{
    line-height: 140%;
}
.slide img, .slide_2 img {
display: block;
width: 100%;
height: auto; /* Поддерживает пропорции изображения */
position: relative;
z-index: 1; /* Убедитесь, что изображение под градиентом */
}

.absolute_custom {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 3; /* Текст над градиентом */
}

.slide, .slide_2 {
    min-width: 100%;
    transition: transform 0.5s ease;
    box-sizing: border-box;
}


.slide img, .slide_2 img {
    width: 100%;
    display: block;
}
.l-100{
    line-height: 100%;
}
.prev, .next {
    position: absolute;

    transform: translateY(-50%);
    color: white;
    border: none;
    cursor: pointer;
}
.prev_2, .next_2 {
    position: absolute;
    transform: translateY(-50%);
}


.slides_2 {
    display: flex;
    transition: transform 0.5s ease; /* Плавное перелистывание */
}

.slide_2 {
    flex: 0 0 100%; /* Каждый слайд занимает 100% ширины видимой части */
    max-width: 100%; /* Ограничение ширины каждого слайда */
}


@media (max-width: 768px) {
    
    .dropdown{
        width: 100px;
    }
    .slide {
        height: 400px;
    }
    .swiper_last_index{
        height: 250px;
    }
    .swiper-slide{
        height: 100%
    }
    .prev, .next, .prev_2, .next_2 {
        width: 50px; /* Larger buttons for larger screens */
        height: 50px; /* Larger buttons for larger screens */
    }
}

.swiper {
    width: 100%;
    height: 600px;
  }
.swiper_2 {
    width: 100%;
    height: 350px;
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



.dropdown {
  position: relative;
  width: 76px;
}

.dropdown-selector {
  

  cursor: pointer;
  display: flex;
  align-items: start;
  justify-content: start;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
 
  z-index: 1000;
  list-style: none;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-options li img {
  margin-right: 8px;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}


.swiper-pagination2 {
    position: absolute;
    bottom: 10px; /* Расстояние от нижнего края контейнера */
    left: 0;
    right: 0;
    text-align: center; /* Центрирование точек */
}




.steps-container {
    position: relative;
    padding: 20px; /* Добавьте отступы вокруг, если необходимо */
  }
  
  /* Стили для номера шага */
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Размеры и отступы могут быть адаптированы */
  }
  
  /* Стили для текста шага */
  .text {
    /* Добавьте необходимые отступы или другие стили текста */
  }
  
  /* Для десктопной версии отображаем все в ряд */
  @media screen and (min-width: 768px) {
    .steps-container {
      flex-direction: row;
    }
  
    .step {
      flex-direction: row;
      align-items: center;
    }
    .step:not(:last-child)::after {
      content: '';
      background: url('assets/dotted_line.svg') center/contain no-repeat;
      height: 10px;
      flex-grow: 1;
      margin-left: 20px; /* Отступ слева от номера до линии */
    }
  }
  
  /* Стили для мобильной версии (все элементы идут один за другим) */
  @media screen and (max-width: 767px) {
    .steps-container {
      flex-direction: column;
    }
    .step:not(:last-child)::after {
      content: '';
      background: url('assets/dotted_line_vertical.svg') center/contain no-repeat;
      width: 10px;
      height: 20px; /* Высота может быть изменена в зависимости от необходимого расстояния между шагами */
      align-self: center;
      margin-top: 20px; /* Отступ сверху от шага до линии */
    }
  }
  .scroll-changed::-webkit-scrollbar {
    width: 20px; 
    height: 10px;
  }
  
  .scroll-changed::-webkit-scrollbar-track {
    background: none;
  }
  
  .scroll-changed::-webkit-scrollbar-thumb {
    background-color: #0083BB; /* цвет плашки */
    border-radius: 100px;
  }
